@media (min-width: 1355px){

    ul.tabs li.tab{
        width: 210px!important;
    }
    ul.tabs {
        width: 864px!important;
    }
    .container{
        width: 80%;
    }

    div#info h2 {
        font-size: 45px;
    }

    #btn-descricao{
        margin-top: 45px;
        padding: 25px;
    }
    
    #btn-descricao i{
        font-size: 3rem;
    }

    div#info h2 {
        font-size: 45px;
        line-height: 55px;
    }
    
 }

@media (min-width: 1280px) and (max-width: 1354px) {

    ul.tabs li.tab{
        width: 251px!important;
    }
    ul.tabs {
        width: 1027px!important;
    }
    .container{
        width: 80%;
    }

    div#info h2 {
        font-size: 48px;
    }

    #btn-descricao{
        margin-top: 35px;
        padding: 25px;
    }
    
    #btn-descricao i{
        font-size: 3rem;
    }
    
 }

 @media (min-width: 993px) and (max-width: 1279px) {

    ul.tabs li.tab{
        width: 197px!important;
    }
    ul.tabs {
        width: 810px!important;
    }

    #btn-descricao{
        margin-top: 35px;
        padding: 25px;
    }
    
    #btn-descricao i{
        font-size: 3rem;
    }

    div#info h2 {
        font-size: 40px;
    }
    
 }
 
 @media (min-width: 901px) and (max-width: 992px) {

    ul.tabs li.tab{
        width: 211px!important;
    }
    ul.tabs {
        width: 800px!important;
    }

    #btn-descricao{
        margin-top: 10px;
        padding: 25px;
    }
    
    #btn-descricao i{
        font-size: 3rem;
    }
    
 }

 @media (min-width: 800px) and (max-width: 900px) {

    ul.tabs li.tab{
        width: 180px!important;
    }
    ul.tabs {
        width: 741px!important;
    }

    #btn-descricao{
        margin-top: 14px;
        padding: 25px;
    }

    div#info h2 {
        font-size: 35px;
    }

    h4{
        font-size: 30px;
    }
    .duracao{
        margin: 10px 0px 0px 30px;
    }

    
 }

 @media (max-width: 799px) {
    

    
 }